@import "tailwindcss";

:root {
  --primary: #082422;
  --accent: #ffdb3a;
  --background-light: #fefcf9;
  --background-dark: #082422;
  --text-light: #082422;
  --text-dark: #ffffff;
}

@theme {
  --color-primary: #082422;
  --color-accent: #ffdb3a;
  --color-background-light: #fefcf9;
  --color-background-dark: #082422;
  --color-text-light: #082422;
  --color-text-dark: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background-light);
  color: var(--text-light);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
